body {
  position: relative;
}

p {
  position: absolute;
  left: 0;
  animation: moveX 3s ease-in-out alternate;
  width: 100%;
}

@keyframes moveX {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}