body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    width: 95%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.grey {
    background-color: gainsboro;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
}